
html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.vertical-cell {
    display: inline-block;
    transform: rotate(-90deg) translateX(-100%);
    width: 2em;
    text-align: center;
    vertical-align: middle;
}

blockquote {
    margin-left: 50px;
    color: lightslategray;
    border-left: 8px solid lightslategray;
    padding-left: 10px;
}

.grammar-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tense-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
